<!DOCTYPE html>
<html>
<head>
  <title>
    Получить сокращенный url
  </title>
 <script>
  // эта функция сработает при нажатии на кнопку
  function sendJSON() {
    // с помощью jQuery обращаемся к элементам на странице по их именам
    let name = document.querySelector('#name');
    // а вот сюда мы поместим ответ от сервера
    let result = document.querySelector('.result');
    // создаём новый экземпляр запроса XHR
    let xhr = new XMLHttpRequest();
    // адрес, куда мы отправим нашу JSON-строку
    let url = "127.0.0.1:2003";
    // открываем соединение
    xhr.open("POST", url, true);
    // устанавливаем заголовок — выбираем тип контента, который отправится на сервер, в нашем случае мы явно пишем, что это JSON
    xhr.setRequestHeader("Content-Type", "application/json");
    // когда придёт ответ на наше обращение к серверу, мы его обработаем здесь
    xhr.onreadystatechange = function () {
      // если запрос принят и сервер ответил, что всё в порядке
      if (xhr.readyState === 4 && xhr.status === 200) {
        // выводим то, что ответил нам сервер — так мы убедимся, что данные он получил правильно
        result.innerHTML = this.responseText;
      }
    };
    // преобразуем наши данные JSON в строку
    var data = JSON.stringify({ "name": name.value});
    // когда всё готово, отправляем JSON на сервер
    xhr.send(data);
  }
</script>
</head>
<body style="text-align:center;" id="body">
<!-- заголовок -->
<h1> Получить сокращенный url </h1>
<!-- делаем форму с полями ввода -->
<p>
  <input type="text" id="name" placeholder="Ваша ссылка">
  <!-- по нажатию на эту кнопку данные уйдут на сервер -->
  <button onclick="sendJSON()">Жми!</button>
  <!-- а вот тут они появятся снова, но уже после обработки сервером -->
<p class="result" style="color:blue"></p>
</p>
</body>
</html>
